<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.16.3" targetFramework="net45" />
  <package id="AutoFixture.Xunit" version="3.16.3" targetFramework="net45" />
  <package id="FSharp.Reactive" version="2.2.131002" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.2" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.2" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.2" targetFramework="net45" />
  <package id="Unquote" version="2.2.2" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
  <package id="xunit.extensions" version="1.9.2" targetFramework="net45" />
</packages>